<!-- src/app/login/login.component.html -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Login</h3>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" class="form-control" formControlName="email">
                            <div *ngIf="submitted && loginForm.get('email')?.errors" class="text-danger">
                                Invalid Email 
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" class="form-control" formControlName="password">
                            <div *ngIf="submitted && loginForm.get('password')?.errors" class="text-danger">
                                Password must contain at least 8 characters
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" >Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>